.tecnologys-container {
    margin: 0 auto;
    width: 50vw;
}

.tecnologys-title {
    margin-bottom: 2vh;
}

.tech-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid var(--red-color);
    visibility: hidden;
}

.tech-item svg {
    font-size: 1.8rem;
}

.visible {
    animation: diagonalFadeIn 3s ease forwards;
    -webkit-animation: diagonalFadeIn 3s ease forwards;
    visibility: visible;
}

.tech-name {
    margin-top: 10px;
    font-size: 0.7em;
    font-weight: 600;
}

@media (max-width: 1050px) {
    .tecnologys-container {
        width: 80vw;
    }

    .tecnologys-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .tech-container {
        gap: 20px 5px;
    }
}

@keyframes diagonalFadeIn {
    0% {
        opacity: 0;
        transform: translate(-20px, -20px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
