.container-introduction-home {
    margin-top: 14vh;
}

.introduction-title2-home {
    font-size: 2rem;
    font-weight: 600;
}

.introduction-title-home {
    font-size: 7rem;
    font-weight: bold;
    color: #c70038;
}

.introduction-paragraph-home {
    font-size: 1.8rem;
    color: #747171;
}

.container-introduction {
    display: flex;
    align-items: center;
    height: 250px;
}

.header-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-paragraph {
    font-size: 1.2rem;
    color: #747171;
}

.container-introduction-self {
    width: 30vw;
}

.header-introduction-self {
    margin-bottom: 2vh;
}

.introduction-span-self {
    font-weight: 800;
    color: #c70038;
}

@media (max-width: 1050px) {
    .introduction-title2-home {
        font-size: 1.8rem;
    }

    .introduction-title-home {
        font-size: 6rem;
    }

    .introduction-paragraph-home {
        font-size: 1.5rem;
    }

    .container-introduction-self {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .container-introduction-home {
        margin-top: 10vh;
    }

    .introduction-title2-home {
        font-size: 1.3rem;
    }

    .introduction-title-home {
        font-size: 4rem;
    }

    .introduction-paragraph-home {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .container-introduction-home {
        margin-top: 8vh;
    }

    .introduction-title2-home {
        font-size: 1rem;
    }

    .introduction-title-home {
        font-size: 3rem;
    }

    .introduction-paragraph-home {
        font-size: 1rem;
    }

    .introduction-span {
        display: none;
    }
}
