.about-container {
    width: 80vw;
}

.about-container-info {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    margin: 100px 0 125px 0;
}

@media (max-width: 1000px) {
    .about-container-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
