.container-cards-proyects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    width: 100%;
    margin-bottom: 125px;
}

.container-card {
    position: relative;
    border: solid 1px #c70038;
    margin-bottom: 20px;
    min-height: 650px;
}

.header-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.iconDevice-card {
    padding-left: 10px;
    font-size: 1.5rem;
}

.container-img-card {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    height: 250px;
}

.img-card {
    width: 100vw;
    padding: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container-tech-icon-card {
    padding: 15px;
}

.ul-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.li-tech-icon-card {
    font-size: 2rem;
    color: #c70038;
}

.description-card {
    padding: 15px;
    color: #747171;
}

.container-links-card {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
}

.ul-card-links {
    display: flex;
    align-items: flex-end;
    list-style: none;
}

.li-links-card {
    margin-top: 10px;
    font-size: 1.2rem;
}

.li-links-a-card {
    text-decoration: none;
    color: #747171;
}

.icon-container {
    position: relative;
    padding: 10px;
}

.tooltip {
    visibility: hidden;
    width: auto;
    border: solid 1px #c70038;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #747171;
    color: #fff;
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 800px) {
    .container-cards-proyects {
        display: flex;
        flex-direction: column;
    }
}
