.header-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 80vw;
    background-color: #ffffff;
    z-index: 999;
}

@media (max-width: 650px) {
    .header-container {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5rem;
        padding: 0 50px;
    }
}
