.active {
    color: red;
}

.menu {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.menu svg {
    width: 40px;
    height: 40px;
    fill: none;
    stroke: #000;
    stroke-width: 4;
    transition: transform 0.4s ease;
}

.menu .line {
    transition: stroke-dashoffset 0.4s ease;
    stroke: #000;
    stroke-width: 6;
    stroke-dasharray: 90 207;
}

.opened .line1 {
    stroke-dashoffset: -134;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}

.opened .line3 {
    stroke-dashoffset: -134;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.navbar-li {
    padding: 0 25px;
}

.navbar-li:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

@media (max-width: 1100px) {
    .navbar-li {
        padding: 0 20px;
    }
}

@media (max-width: 900px) {
    .navbar-li {
        padding: 0 15px;
    }
}

@media (max-width: 750px) {
    .navbar-li {
        padding: 0 10px;
    }
}

@media (max-width: 650px) {
    .menu {
        display: block;
    }

    .navbar-list {
        display: none;
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100%;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
    }

    .navbar-list.show {
        display: flex;
        justify-content: center;
        opacity: 0;
        visibility: visible;
        animation: fadeIn 1.3s forwards;
        padding: 10px 50px;
        font-size: 2rem;
        background-color: white;
        -webkit-animation: fadeIn 1s forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }

    .navbar-li {
        padding: 0 20px;
    }
}

@media (max-width: 650px) {
    .navbar-li {
        padding: 0 10px;
    }
}
