.ul-socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vh;
}

.li-socialMedia {
    list-style: none;
}

.logo-link-social {
    text-decoration: none;
    font-size: 2rem;
    color: #747171;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .ul-socialMedia {
        margin: 10vh;
    }

    .li-socialMedia {
        font-size: 1.8rem;
    }
}

@media (max-width: 700px) {
    .li-socialMedia {
        font-size: 1.5rem;
        padding: 30px;
    }
}

@media (max-width: 650px) {
    .ul-socialMedia {
        margin: 6vh;
    }
    .li-socialMedia {
        font-size: 1rem;
        padding: 30px;
    }
}

@media (max-width: 550px) {
    .ul-socialMedia {
        margin: 4vh;
    }
    .li-socialMedia {
        font-size: 1rem;
        padding: 30px;
    }
}

@media (max-width: 450px) {
    .ul-socialMedia {
        margin: 1vh;
    }
    .li-socialMedia {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .ul-socialMedia {
        margin: 0;
    }
    .li-socialMedia {
        font-size: 1rem;
    }
}
