*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --white-color: #f1f1f1;
  --black-color: #010101;
  --red-color: #c70038;
  --gray-color: #747171;
}

.animated-color {
  color: transparent;
  background-image: linear-gradient(to left, var(--red-color), #ff5733, #ffc300, #ff1b1c, #ff4b2b, #ffc312);
  background-clip: text;
  -webkit-background-clip: text;
  animation: color 3s linear forwards;
  background-size: 400% 100%;
  -webkit-animation: color 3s linear forwards;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
    color: var(--red-color);
  }
}
